/* Global */
* {
    font-family: JetBrainsMono Nerd Font, monospace;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    color: #e0e0ff; /* text */
	padding: 0;
	margin: 0;
}

/* Three groups = three boxes */
#custom-menu,
#clock,
#bluetooth,
#pulseaudio,
#custom-pwroff,
#custom-weather {
    background: rgba(87, 58, 153, 0.2); /* semi-transparent purple */
    border: 1px solid #8beaff;          /* light blue border */
    border-radius: 20px;
    margin: 9px 10px 0px 10px; /* TRBL around modules */
	padding: 5px 20px; /* inside border */
}

/* Make center text bold */
#clock,
#bluetooth,
#pulseaudio,
#custom-pwroff,
#custom-weather {
    font-weight: bold;
}

/* Optional hover effect */
#custom-menu:hover,
#custom-pwroff:hover,
#bluetooth:hover {
    background: rgba(140, 70, 200, 0.5);
}

#custom-pwroff {
    font-size: 20px;
}
