/* Global */
* {
    font-family: "JetBrainsMono", "Nerd Font Complete", "Nerd Font", "Noto Sans", monospace;
    font-size: 16px;
}

window#waybar {
    background: transparent;
    color: #e0e0ff; /* text */
	padding: 0;
	margin: 0;
}

/* Three groups = three boxes */
#custom-menu,
#clock,
#bluetooth,
#pulseaudio,
#custom-pwroff,
#custom-weather,
#workspaces,
#custom-language,
#custom-wireguard,
#custom-yt_handle,
#custom-minecraft-name,
#custom-btvol {
    background: rgba(87, 58, 153, 0.2); /* semi-transparent purple */
    border: 1px solid #8beaff;          /* light blue border */
    border-radius: 20px;
    margin: 9px 8px 0px 8px; /* TRBL around modules */
    padding: 0px 18px; /* TS inside border */
}

/* Make center text bold */
#clock,
#bluetooth,
#pulseaudio,
#custom-pwroff,
#custom-weather,
#custom-language,
#custom-wireguard,
#custom-yt_handle,
#custom-minecraft-name,
#custom-btvol {
    font-weight: bold;
}

/* Optional hover effect */
#custom-menu:hover,
#custom-pwroff:hover,
#bluetooth:hover,
#workspaces:hover,
#pulseaudio:hover {
    background: rgba(140, 70, 200, 0.5);
}

#custom-pwroff {
    font-size: 20px;
}

#workspaces button {
    opacity: 0.4;
}
#workspaces button.active {
    opacity: 1;
}


#custom-yt_handle.free,
#custom-minecraft-name.free {
    color: #88ff88; /* green */ /*BOTH are free vs taken*/
}

#custom-yt_handle.taken,
#custom-minecraft-name.taken,
#custom-wireguard.off {
    color: rgba(255, 255, 255, 0.4);
}
